<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<listener>  
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
    </listener>
    
<!--    <servlet>  -->
<!--        <servlet-name>CXFServlet</servlet-name>  -->
<!--        <display-name>CXF Servlet</display-name>  -->
<!--        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>  -->
<!--        <load-on-startup>1</load-on-startup>  -->
<!--    </servlet>  -->
<!--  -->
<!--    <servlet-mapping>  -->
<!--        <servlet-name>CXFServlet</servlet-name>  -->
<!--        <url-pattern>/services/*</url-pattern>  -->
<!--    </servlet-mapping>  -->

<!-- Spring MVC配置 -->
<!-- ====================================== -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml-->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/spring-servlet.xml</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
			<servlet-name>spring</servlet-name>
			<url-pattern>*.do</url-pattern>
		</servlet-mapping>
    
        <servlet>
        <display-name>KnowledgeBaseStartTool</display-name>
        <servlet-name>KnowledgeBaseStartTool</servlet-name>
        <servlet-class>com.zhangp.drools.KnowledgeBaseStartTool</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>  
  
</web-app>
